@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

body {
  font-family: Roboto;
  font-weight: 300;
  padding: 0 24px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #1a73e8;
}

.letters {
  font-size: 24px;
  font-family: monospace;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  li {
    background-color: #1a73e8;
    border: 1px solid #1a73e8;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    display: inline-block;
    padding: 4px 12px;
    margin: 5px;
  }
}

.user-input {
  padding: 10px 20px;
}

.btn-blue {
  background-color: #1a73e8;
  border: 0.1px solid #1a73e8;
  border-radius: 0 2px 2px 0;
  color: white;
  padding: 11px 20px;
}
